@page "/"

<h1>Hello, world!</h1>

Welcome to Rosa Reynoso's Blazor App. This is a personal website about me. Hope you enjoy! 

<SurveyPrompt Title="How is Blazor working for you?" />
<img src="IMG-1.jpg" alt="profile picture">